body{
    margin: 0px;
    padding: 0px;
    background-color:#202124;
    text-align: center;
    font-family: 'Anek Latin', sans-serif;
    color:#8ab4f8; ;
    
}
.frame{
    /* border: 1px solid red; */
    width: 50%;
    margin: 100px auto;
    height: 300px;
    width: 600px;
}
#display{
    border: 0.5px solid #3c4043;
    height: 60px;
    margin: 6px;
    text-align: right;
    border-radius: 8px;
    font-size: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}
#display svg{
    width: 30px;
    color:#686a6b;
    position: relative;
    right: 550px;
    cursor: pointer;
}
#display:hover{
    background-color: #3c4043;
}
#display svg:hover{
    transition: all 1s ease;
    transform: rotate(360Deg);
}
.buttons{
    /* border: 1px solid red; */
    /* margin: 20px; */
    /* height: 170px; */
    padding: 2px;

}
.line1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.line2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.line3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.line4{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.line5{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.line1 button{
    height: 40px;
    width: 40px;
    width: 80px;
    /* disp\ay: flex; */
}
.line2 button{
    height: 40px;
    width: 40px;
    width: 80px;
    margin-top: 4px;
    /* disp\ay: flex; */
}
.line3 button{
    height: 40px;
    width: 40px;
    width: 80px;
    margin-top: 4px;
    /* disp\ay: flex; */
}
.line4 button{
    height: 40px;
    width: 40px;
    width: 80px;
    margin-top: 4px;
    /* disp\ay: flex; */
}
.line5 button{
    height: 40px;
    width: 40px;
    width: 80px;
    margin-top: 4px;
    /* disp\ay: flex; */
}
#lightbg:hover{
    background-color:#3c4043;
    cursor: pointer;
}
#Deg:hover{
    background-color:#3c4043;
    cursor: pointer;
}
#Deg{
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #686a6b;
    color: white;
    border: none;
    border-radius: 5px;
}
#light{
    color: lightgray;
}
#lightbg{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #686a6b;
    color: white;
    border: none;
    border-radius: 5px;
}
#number{
    background-color:#3c4043;
    border: none;
    color: white;
    border-radius: 5px;
}
#number:hover{
    background-color: #686a6b;
    cursor: pointer;
}
#equal{
    background-color: #8ab4f8;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
#equal:hover{
    background-color:aliceblue;
}
@media screen and (max-width:610px) {
    .frame{
        width: 90%;
    }
    .buttons{
        /* width: 100%; */
        /* background-color: red; */
    }
    .line1{
        /* flex-wrap: wrap; */
    }
    
}